<?xml version="1.0"?>
<model>
  <name>Moving flower</name>
  <version>1.0</version>
  <sdf version='1.6'>moving_flower.sdf</sdf>

  <author>
   <name>Chenyao Wang</name>
   <email>atluswang@gmail.com</email>
  </author>

  <description>
    Moving flower for the TU Delft Cyberzoo (04_TangoDrone)
  </description>
</model>